name: {{ name }}
title: {{ title }}
description: |-
  {{ description }}
id: {{ schema_base_uri ~ "/" ~ name }}
license: https://www.apache.org/licenses/LICENSE-2.0.txt
imports:
- linkml:types
prefixes:
  linkml: https://w3id.org/linkml/
  cim: https://cim.ucaiug.io/ns#
  dct: http://purl.org/dc/terms/
  gh: https://github.com/
classes: {}
